@{
    ViewBag.Title = "Home Page";
}

<!--Main content area-->
<canvas class="canvas" id="canvas">

</canvas>

<div id="loading-spinner" class="spinner">
    <img src="~/Images/Spinner.gif" />
</div>

<!--toolbar area-->
<div class="toolbar navbar-inverse">
    <div id="cursorPos" class="cursor-position">(0,0)</div>
    
    <div class="palette">
        <div class="palette-color" style="background-color: rgb(255, 255, 255)"></div>
        <div class="palette-color" style="background-color: rgb(205, 205, 205)"></div>
        <div class="palette-color" style="background-color: rgb(136, 136, 136)"></div>
        <div class="palette-color" style="background-color: rgb(34, 34, 34)"></div>
        <div class="palette-color" style="background-color: rgb(0, 0, 0)"></div>
        <div class="palette-color" style="background-color: rgb(255, 167, 209)"></div>
        <div class="palette-color" style="background-color: rgb(229, 0, 0)"></div>
        <div class="palette-color" style="background-color: rgb(128, 0, 0)"></div>
        <div class="palette-color" style="background-color: rgb(255, 221, 202)"></div>
        <div class="palette-color" style="background-color: rgb(229, 149, 0)"></div>
        <div class="palette-color" style="background-color: rgb(160, 106, 66)"></div>
        <div class="palette-color" style="background-color: rgb(229, 217, 0)"></div>
        <div class="palette-color" style="background-color: rgb(148, 224, 68)"></div>
        <div class="palette-color" style="background-color: rgb(2, 190, 1)"></div>
        <div class="palette-color" style="background-color: rgb(0, 211, 211)"></div>
        <div class="palette-color" style="background-color: rgb(0, 131, 199)"></div>
        <div class="palette-color" style="background-color: rgb(0, 0, 234)"></div>
        <div class="palette-color" style="background-color: rgb(207, 110, 228)"></div>
        <div class="palette-color" style="background-color: rgb(255, 0, 255)"></div>
        <div class="palette-color" style="background-color: rgb(130, 0, 128)"></div>
    </div>

        
</div>



